body { background-color: rgb(6, 31, 69) }
.navbar-brand { color: rgb(6, 31, 69) !important; font-weight: bold; font-size: 26px; }
.navbar { height: 75px }
.navbar_padding { padding: 0 120px 0 120px; }
.signup_btn { background-color: rgb(0, 38, 89); border-radius: 15px;font-weight: bold; padding: 0 10px 0 10px 0 }